.main-heading{
    text-align: center;
}
.item-container{
    background-color: bisque;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    margin: 5px;
}
.item-image{
    width: 50%;
    object-fit: cover;
}

button{
    border-width: 0px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}